object-root
Make.config
/build*
configure-tmp/**
install/**
!install/README
.clang_complete
*scratch
.coverage
*.pyc
*.o
tests/htmlcov
tests/data/Makefile2
tests/unit_dev.py
robots.txt*
**/.src/**
**/.curry/**
!tests/data
!currylib/**
currylib/Prelude.curry
currylib/Prelude.*icy
currylib/Prelude.*json*
