# The configurable portion of the build scripts.  Update global paths, flags,
# versions, etc. here.

# Tools
# =====
ifndef COMPILER
  COMPILER := GCC
endif

ifeq ($(COMPILER),GCC)
  CC := /usr/bin/gcc
  CXX := /usr/bin/g++
else ifeq ($(COMPILER),CLANG)
  CC := /usr/bin/clang
  CXX := /usr/bin/clang++
else
  $(error COMPILER must be set to GCC or CLANG, not $(COMPILER))
endif

# Download the Memory Pool System (MPS) from www.ravenbrook.com/project/mps.
MPS_PATH := /usr/local/src/mps


# Compiler flags
# ==============
CFLAGS   += -Wall -O0 -ggdb -DBOOST_NO_AUTO_PTR
CXXFLAGS += $(CFLAGS) -std=c++17 -Wno-register
ARFLAGS  += -U


# LLVM
# ====
# LLVM_INCLUDE_PATH   := /usr/include/llvm-5.0
# LLVM_C_INCLUDE_PATH := /usr/include/llvm-c-5.0
# LLVM_LIBRARY_PATH   := /usr/lib/llvm-5.0/lib
LLVM_INCLUDE_PATH   := /opt/llvm-5.0-g/include
LLVM_C_INCLUDE_PATH := /opt/llvm-5.0-g/include
LLVM_LIBRARY_PATH   := /opt/llvm-5.0-g/lib
# Strings are appended to this variable to form tool names, e.g.,
# $(LLVM)-config for llvm-config.
LLVM := /usr/bin/llvm


# Python
# ======
# The top directory of the Python installation to build against.  Should have
# bin, include, and lib subdirectoriees.
PYTHON_HOME := /opt/python2.7-valgrind

# The name of the Python package that will be created.
PYTHON_PACKAGE_NAME := curry

# The Python package will be installed under $(PREFIX)/lib/$(PYTHON_VERSION).
PYTHON_VERSION := python2.7


# Boost
# =====
# Use version 1.66 or newer.
BOOST_HOME := /opt/boost_1_66_0-valgrind


# CMC
# ===
# The location of the Curry Meta-Compiler.  This may be cloned from https://projects.cecs.pdx.edu/git/antoy-cmc.
CMC_HOME := /opt/antoy-cmc

