# The configurable portion of the build scripts.

# Tools
# =====
CC := /usr/bin/gcc
CXX := /usr/bin/g++
PYTHON_INCLUDE_PATH := /usr/include/python2.7
MPS_PATH := /usr/src/mps


# Compiler flags
# ==============
CFLAGS += -Wall -I$(ROOT_DIR)/src -O3
CXXFLAGS += $(CFLAGS) -std=c++17

# Other
# =====
# The name of the Python package that will be created.
PYTHON_PACKAGE_NAME := curry

